# Practice for Selecting Data with SQL

Run the code below without change to get started.

In [ ]:
# Connecting, Libraries, and Data

import sqlite3
conn = sqlite3.connect('data.sqlite')

import pandas as pd

pd.read_sql("""
SELECT *
  FROM products;
""", conn)

1. Select the product name and product code for the products
- Show the last five products

In [ ]:
# Your code here

2. Now switch the order of the columns, i.e. show the product code first and then the product name.
- Show the last five products

In [ ]:
# Your code here

3. Select the product name and product line
- When the product line is "Planes" keep it as "Planes", otherwise have it as "Not Planes"
- Call this new column "Planes"

In [ ]:
# Your code here

4. Find the length of the product description for each product.
- Call this new column "description_length"
- Show the first five rows of data

In [ ]:
# Your code here

5. Let's change the product vendor to all caps.
- Call this new column "caps_vendor"
- Show the first five rows

In [ ]:
# Your code here

6. Let's change the product name to all lowercase.
- Use `lower()` as you did `upper()`
- Call this new column "lower_name"
- Show the first five rows

In [ ]:
# Your code here

7. Since all of the product scales are 1:*xxx*, we can take a substring of just the number following the colon.
- The first character following the colon is the third character
- None of the scales are more than 1 to a three digit number

In [ ]:
# Your code here

8. Create a new column "fullName" that has product vendor followed by the product name with a space between
- For example, Min Lin Diecast 1969 Harley Davidson Ultimate Chopper

In [ ]:
# Your code here

9. Find the difference in price between the MSRP and the buy price.
- Round the difference to the nearest whole number, i.e. as an integer, not floating point
- Call this new column "round_diff"
- Hint: These should all be positive values

In [ ]:
# Your code here